.icon-container {
    outline: none;
    border: 0;
    width: auto;
    display: block;
    min-width: 0;
    min-height: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    background-color: transparent;
    cursor: pointer;

    &.active {
        background: transparent;
        color: #fff;
    }

    &:hover {
        background: rgba(0,0,0, 0.05);
    }

    &.disabled {
        background: transparent;
        color: #fff;
        opacity: 0.33;
        filter: alpha(opacity = 33);
        cursor: none;
    }
    /*&:not(.disabled) {
        &:hover, &:active, &:focus {
            background: transparent;
        }
    }

    &:not(.active) {
        &:hover, &:active, &:focus {
            background: transparent;
        }
    }

    &.active {
        &:hover, &:active, &:focus {
            background: transparent;
        }
    }*/
}

.icon {
    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAABfBAMAAADxD0GSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAALVBMVEUAAABgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGAAAAAxfQTqAAAADXRSTlMAEbszzHeqIt3uZpmInD1Z3wAAAAFiS0dEAIgFHUgAAAAJcEhZcwAALiMAAC4jAXilP3YAAABjSURBVDjLY2CAAEZlBgQQuYpgM/oGDJwEQ24CDmeh6hlAKeRwG9qAWRGJw3pFAIkX6zgopJBTA4oMsh66S6CE2yigDmCE0hWzgMTeDQwMXDMKGM5eAUrcvcjAwHL3AKoMsh4A9UYwcBnNwrwAAAAASUVORK5CYII=");
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    left: 14px;
    background-repeat: no-repeat;

    &.icon-ScrollChevronLeftLegacy {
        background-position-y: 0;
    }

    &.icon-ScrollChevronRightLegacy {
        background-position-y: -40px;
    }

    &.icon-more {
        background-position-y: -80px;
    }
}

.margl15 {
    margin-left: 15px;
}

.margr15 {
    margin-right: 15px;
}

.richcc-datepicker {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    background: #fff;
    margin: 0;

    .richcc-comp-title {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0;
        text-align: left;
        line-height: 36px;
        margin: 0;
    }

    .richcc-cal-holder {
        height: calc(100% - 48px);
        width: 100%;
    }

    table {
        width: 100%;
        height: 100%;
    }

    .richcc-daypicker {

        thead {
            tr {

                &.header-dayname-row {
                    height: 10px;
                }

                &.header-action-holder {
                    height: 48px;

                    .header-actions {
                        min-width: 300px;
                        width: 350px;
                        display: block;
                        margin: 0 auto;
                    }
                }

                th {
                    width: 14.285%;

                    .nav-left,
                    .nav-right {
                        width: 48px;
                        display: inline-block;
                    }

                    .labelHolder {
                        width: calc(100% - 104px);
                        display: inline-block;
                        height: 48px;
                        vertical-align: top;

                        label {
                            width: 100%;

                            &.title {
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: 700;
                                text-transform: uppercase;
                                padding: 0 15px;
                                text-align: center;
                                line-height: 48px;
                                margin: 0;
                            }
                        }
                    }

                    &.dayTitle {
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: 600;
                        text-transform: uppercase;
                        padding: 0 5px;
                        text-align: left;
                        margin: 0;
                        font-size: medium;
                    }
                }
            }
        }

        tbody {
            tr {

                &.richcc-row {
                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(0,0,0,0.05);
                    }
                }

                td {

                    &.richcc-td {
                        vertical-align: top;
                        cursor: pointer;
                        -moz-transition: all 0.2s linear;
                        -o-transition: all 0.2s linear;
                        -webkit-transition: all 0.2s linear;
                        transition: all 0.2s linear;

                        &:hover, &:active, &:focus {
                            /*background: rgba(0,115,198, 0.05);*/
                        }

                        .markHolder {
                            position: relative;
                            height: calc(100% - 27px);

                            .mark {
                                position: absolute;
                                height: 15px;
                                width: 0;
                                text-align: left;
                                padding: 0;
                                line-height: 14px;
                                opacity: 0;
                                -moz-transition: all 300ms linear 300ms, width 300ms linear;
                                -o-transition: all 300ms linear 300ms, width 300ms linear;
                                -webkit-transition: all 300ms linear 300ms, width 300ms linear;
                                transition: all 300ms linear 300ms, width 300ms linear;

                                @for $i from 1 through 120 {
                                    &.step-#{$i} {
                                        opacity: 1;
                                        -moz-transition-delay: (#{$i * 300}ms);
                                        -o-transition-delay: (#{$i * 300}ms);
                                        -webkit-transition-delay: (#{$i * 300}ms);
                                        transition-delay: (#{$i * 300}ms);
                                    }
                                }

                                .text {
                                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                    font-weight: 400;
                                    text-transform: uppercase;
                                    padding: 0 5px;
                                    margin: 0;
                                    font-size: 12px;
                                }

                                &.top {
                                    top: 5px;
                                }

                                &.bottom {
                                    top: 25px;
                                }

                                &.morePresent {
                                    bottom: 0;
                                    background: none;
                                    width: 30px;
                                    opacity: 1;

                                    .icon-container {
                                        height: 15px;
                                        width: 25px;

                                        .icon {
                                            height: 15px;
                                            width: 30px;
                                            top: -5px;
                                            left: 0;
                                            background-size: 50%;
                                            background-position-y: -48px;
                                            background-position-x: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .icon-container {
                        &.dayHolder {
                            width: 24px;
                            height: 24px;
                            background: #fff;
                            border-radius: 50%;
                            margin: 5px 0 0 0;

                            &.cc-info,
                            &.cc-info.cc-current,
                            &.cc-info.cc-muted {
                                border-radius: 50%;
                                background: #0073c6;
                                color: #fff;
                            }

                            &.cc-current,
                            &.cc-current.cc-muted {
                                border-radius: 50%;
                                background: #fff;
                                border: 1px solid #0073c6;
                                color: #0073c6;
                            }

                            &.cc-muted {
                                color: rgba(0,0,0, 0.30);
                            }
                        }

                        .richcc-day {
                            border: none;
                            width: 100%;
                            margin: 0;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-weight: 500;
                            padding: 0;
                            text-align: center;
                            box-shadow: none;
                            line-height: 22px;
                            font-size: small;
                        }
                    }
                }
            }
        }
    }
}
