<table class="uib-daypicker richcc-daypicker" role="grid" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
    <thead>
        <tr class="header-action-holder">
            <th colspan="1"></th>
            <th colspan="5">
                <div class="header-actions">
                    <div class="icon-container nav-left" cc-key="move(-1)" role="button" tabindex="0">
                        <i class="icon icon-ScrollChevronLeftLegacy"></i>
                    </div>
                    <div class="icon-container labelHolder" id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" cc-key="toggleMode()" ng-disabled="datepickerMode === maxMode" tabindex="0">
                        <label class="title">{{title}}</label>
                    </div>
                    <div class="icon-container nav-right" cc-key="move(1)" role="button" tabindex="0">
                        <i class="icon icon-ScrollChevronRightLegacy"></i>
                    </div>
                </div>
            </th>
            <th colspan="1"></th>
        </tr>
        <tr class="header-dayname-row">
            <th ng-if="showWeeks && false" class="text-center"></th>
            <th colspan="1" ng-repeat="label in ::labels track by $index" class="text-center dayTitle"><span aria-label="{{::label.full}}">{{::label.abbr | limitTo:1}}</span></th>
        </tr>
    </thead>
    <tbody>
        <tr class="uib-weeks richcc-row" ng-repeat="row in rows track by $index">
            <td ng-if="showWeeks && false" class="text-center h6"><em>{{ weekNumbers[$index] }}</em></td>
            <td ng-repeat="dt in row" class="uib-day text-center richcc-td" role="gridcell"
                id="{{::dt.uid}}"
                ng-class="::dt.customClass"
                colspan="1"
                ng-disabled="::dt.disabled"
                uib-popover-template="'resource/datepicker/richcc-day-popup.html'" popover-trigger="{{eventDetails[dt.key].length > 0 ? 'outsideClick' : 'none'}}" popover-append-to-body="true">
                <div class="icon-container dayHolder"
                     uib-is-class="
                     'cc-info' for selectedDt,
                     'cc-active' for activeDt
                     on dt"
                     ng-class="::{'cc-current': dt.current, 'cc-muted': dt.secondary}"
                     cc-key="select(dt.date)"
                     tabindex="0">
                    <div class="richcc-day">
                        <span>{{::dt.label}}</span>
                    </div>
                </div>
                <div class="markHolder" style="position:relative;" ng-show="eventDetails[dt.key].length > 0">
                    <div class="mark step-{{event.step}}"
                         ng-class="{'top': event.order == 1, 'bottom': event.order == 2}"
                         ng-style="{'color': event.color, 'width': 'calc(' + 100 * event.paintBoxLength + '% - 5px)'}"
                         ng-repeat="event in eventDetails[dt.key]"
                         ng-if="event.startPaint == true"
                         style="color:#fff;">
                        <div class="mark-stripe" ng-style="{'background-color': event.bgcolor}">
                            <span class="text">{{event.name}}</span>
                        </div>
                    </div>
                    <div class="mark morePresent" ng-show="eventDetails[dt.key].length > 2" ng-click="viewAllEvents(eventDetails[dt.key], $event)">
                        <div class="icon-container">
                            <i class="icon icon-more"></i>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
