<table class="uib-yearpicker richcc-daypicker" role="grid" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
    <thead>
        <tr class="header-action-holder">
            <th colspan="1"></th>
            <th colspan="3">
                <div class="header-actions">
                    <div class="icon-container nav-left" cc-key="move(-1)" role="button" tabindex="0" ng-disabled="preventCalNav == true">
                        <i class="icon icon-ScrollChevronLeftLegacy"></i>
                    </div>
                    <div class="icon-container labelHolder" id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" cc-key="toggleMode()" ng-disabled="datepickerMode === maxMode || preventCalNav == true" tabindex="0">
                        <label class="title">{{title}}</label>
                    </div>
                    <div class="icon-container nav-right" cc-key="move(1)" role="button" tabindex="0" ng-disabled="preventCalNav == true">
                        <i class="icon icon-ScrollChevronRightLegacy"></i>
                    </div>
                </div>
            </th>
            <th colspan="1"></th>
        </tr>
    </thead>
  <thead>
  </thead>
  <tbody>
    <tr class="uib-years" ng-repeat="row in rows track by $index">
      <td ng-repeat="dt in row" class="uib-year text-center" role="gridcell"
        id="{{::dt.uid}}"
        ng-class="::dt.customClass">
        <button type="button" class="btn btn-default"
          uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt"
          ng-click="select(dt.date)"
          ng-disabled="::dt.disabled"
          tabindex="-1"><span ng-class="::{'text-info': dt.current}">{{::dt.label}}</span></button>
      </td>
    </tr>
  </tbody>
</table>
